<main>
<h2>what am I working on&nbsp;(in no particular order)</h2>

  <ul>
    <li><a target="_blank" rel="noopener noreferrer" href="https://gemini.circumlunar.space/">Gemini server</a>&nbsp;implementation in Elixir</li>
    <li><a target="_blank" rel="noopener noreferrer" href="https://github.com/fiatjaf/nostr">Nostr Relay</a>&nbsp;implementation in Elixir</li>
    <li><a target="_blank" rel="noopener noreferrer" href="https://developer.bitcoin.org/devguide/index.html">Bitcoin Full Node</a>&nbsp;implementation in Elixir</li>
    <li>Really understand and start running Lightning routing node</li>
    <li>Work on my OpSec</li>
    <li>Get paid in Bitcoin</li>
    <li>Obtain&nbsp;<a target="_blank" rel="noopener noreferrer" href="https://liberation.travel/">residency in Paraguai</a></li>
    <li>Get&nbsp;<a target="_blank" rel="noopener noreferrer" href="https://www.allianzcare.com/en/personal-international-health-insurance.html">private health insurance</a></li>
  </ul>
</main>
