<main>
<h2>what am I working on (in no particular order)</h2>

  <ul>
    <li><Link.external to="https://github.com/fiatjaf/nostr">Nostr Relay/Client</Link.external> implementation in Elixir</li>
    <li><Link.external to="https://gemini.circumlunar.space/">Gemini server</Link.external> implementation in Elixir</li>
    <li><Link.external to="https://developer.bitcoin.org/devguide/index.html">Bitcoin Full Node</Link.external> implementation in Elixir</li>
    <li>Really understand and start running Lightning routing node</li>
    <li>Work on my OpSec</li>
    <li>Get paid in Bitcoin</li>
    <li>Obtain <Link.external to="https://liberation.travel/">residency in Paraguai</Link.external></li>
    <li>Get <Link.external to="https://www.allianzcare.com/en/personal-international-health-insurance.html">private health insurance</Link.external></li>
  </ul>
</main>
