<main>
<h2>what am I working on (in no particular order)</h2>

  <ul>
    <li><Link.external to="https://gemini.circumlunar.space/" text="Gemini server" /> implementation in Elixir</li>
    <li><Link.external to="https://github.com/fiatjaf/nostr" text="Nostr Relay" /> implementation in Elixir</li>
    <li><Link.external to="https://developer.bitcoin.org/devguide/index.html" text="Bitcoin Full Node" /> implementation in Elixir</li>
    <li>Really understand and start running Lightning routing node</li>
    <li>Work on my OpSec</li>
    <li>Get paid in Bitcoin</li>
    <li>Obtain <Link.external to="https://liberation.travel/" text="residency in Paraguai" /></li>
    <li>Get <Link.external to="https://www.allianzcare.com/en/personal-international-health-insurance.html" text="private health insurance" /></li>
  </ul>
</main>
