<.title>My libraries</.title>

<.subtitle id="secp256k1">Secp256k1</.subtitle>
<.external_link href="https://github.com/Sgiath/secp256k1">GitHub</.external_link>
<.external_link href="https://hex.pm/packages/lib_secp256k1">Hex.pm</.external_link>
<.external_link href="https://hexdocs.pm/lib_secp256k1/">Documentation</.external_link>
<p>Elixir NIF library wrapping Bitcoin secp256k1 C library</p>

<.subtitle id="nostr-lib">Nostr Lib</.subtitle>
<.external_link href="https://github.com/Sgiath/nostr-lib">GitHub</.external_link>
<.external_link href="https://hex.pm/packages/nostr_lib">Hex.pm</.external_link>
<.external_link href="https://hexdocs.pm/nostr_lib/">Documentation</.external_link>
<p>Elixir library implementing Nostr specs</p>

<.subtitle id="nostr-client">Nostr Client</.subtitle>
<.external_link href="https://github.com/Sgiath/nostr-client">GitHub</.external_link>
<.external_link href="https://hex.pm/packages/nostr_client">Hex.pm</.external_link>
<.external_link href="https://hexdocs.pm/nostr_client/">Documentation</.external_link>
<p>Elixir library implementing client side communcation with relay</p>

<.subtitle id="nostr-server">Nostr Server</.subtitle>
<.external_link href="https://github.com/Sgiath/nostr-server">GitHub</.external_link>
<.external_link href="https://hex.pm/packages/nostr_server">Hex.pm</.external_link>
<.external_link href="https://hexdocs.pm/nostr_server/">Documentation</.external_link>
<p>Elixir library implementing server side communcation with client</p>

<.subtitle id="nostr-relay">Nostr Relay</.subtitle>
<.external_link href="https://github.com/Sgiath/nostr-relay">GitHub</.external_link>
<p>Fully implemented relay in Elixir</p>

<.subtitle id="nostr-private-sever">Nostr Private Server</.subtitle>
<.external_link href="https://github.com/Sgiath/nostr-private-server">GitHub</.external_link>
<p>Fully implemented private server/client in Elixir</p>
