<h2>My libraries</h2>

<h3 id="secp256k1">Secp256k1</h3>
<.external_link href="https://github.com/Sgiath/secp256k1">GitHub</.external_link>
<.external_link href="https://hex.pm/packages/lib_secp256k1">Hex.pm</.external_link>
<.external_link href="https://hexdocs.pm/lib_secp256k1/">Documentation</.external_link>
<p>Elixir NIF library wrapping Bitcoin secp256k1 C library</p>

<h3 id="ex_astro">Elixir Astro</h3>
<.external_link href="https://github.com/Sgiath/ex_astro">GitHub</.external_link>
<.external_link href="https://hex.pm/packages/ex_astro">Hex.pm</.external_link>
<.external_link href="https://hexdocs.pm/ex_astro/">Documentation</.external_link>
<p>
  Elixir library wrapping
  <.external_link href="https://naif.jpl.nasa.gov/pub/naif/toolkit_docs/C/index.html">
    NASA SPICE
  </.external_link>
  library and
  <.external_link href="https://github.com/liberfa/erfa">ERFA library</.external_link>
</p>

<h3>Nostr</h3>
<h4 id="nostr-lib">Nostr Lib - WIP</h4>
<.external_link href="https://github.com/Sgiath/nostr-lib">GitHub</.external_link>
<.external_link href="https://hex.pm/packages/nostr_lib">Hex.pm</.external_link>
<.external_link href="https://hexdocs.pm/nostr_lib/">Documentation</.external_link>
<p>Elixir library implementing Nostr specs</p>

<h4 id="nostr-client">Nostr Client - WIP</h4>
<.external_link href="https://github.com/Sgiath/nostr-client">GitHub</.external_link>
<.external_link href="https://hex.pm/packages/nostr_client">Hex.pm</.external_link>
<.external_link href="https://hexdocs.pm/nostr_client/">Documentation</.external_link>
<p>Elixir library implementing client side communcation with relay</p>

<h4 id="nostr-server">Nostr Server - TBD</h4>
<.external_link href="https://github.com/Sgiath/nostr-server">GitHub</.external_link>
<.external_link href="https://hex.pm/packages/nostr_server">Hex.pm</.external_link>
<.external_link href="https://hexdocs.pm/nostr_server/">Documentation</.external_link>
<p>Elixir library implementing server side communcation with client</p>

<h4 id="nostr-relay">Nostr Relay - TBD</h4>
<.external_link href="https://github.com/Sgiath/nostr-relay">GitHub</.external_link>
<p>Fully implemented relay in Elixir</p>

<h4 id="nostr-private-sever">Nostr Private Server - WIP</h4>
<.external_link href="https://github.com/Sgiath/nostr-private-server">GitHub</.external_link>
<p>Fully implemented private server/client in Elixir</p>
